@import "tailwindcss";

.svg_size .svg_div div{
    width: 100% ;
    height: 100%;
}

.svg_size .svg_div div svg{
    width: 100% ;
    height: 100%;
    object-fit: cover;
    stroke-width: 10px;
}

.line-menu-icon div svg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.quick div div div div svg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.svg_size_fixer{
    width: 100% !important;
    height: 100% !important;
}

.svg_size_fixer div{
    width: 100% !important;
    height: 100% !important;
    object-fit: contain !important;
}


@media (min-width: 100px) and (max-width: 800px) { 
    .item_div div{
        width: 70px !important;
        height: 70px !important;
        display: flex !important;
        padding: 0 4px 0 !important;
    }
    .item_div div span{
        display: none;
        visibility: hidden;
    }
 }